*{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}
body {
    background-color: black;
    color: #fff;
}

.container1 {
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;
    padding: 20px 12%;
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0)),url(./images/mainbackground.jpg);   
}

.container1 nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}

.logo {
    width: 9.25rem;
    height: 2.5rem;
}
.lang-btn {
    background: transparent;
    color: #fff;
    border-radius: 4px;
    height: 35px;
    width: auto;
    padding: 0 10px;
    font-size: 15px;
    margin-right: 20px;
    border: 1px solid #808080;
    cursor: default;
    display: flex;
    align-items: center;
}

.lim:hover{
    background-color: rgb(117, 71, 160);
    color: #fff;
}

.signin-btn{
    background-color:#e50914;
    border-radius: 4px;
    box-shadow: none;
    height: auto;
    width: 75px;
    border: none;
    color: #fff;
   
}
.signin-btn::after{
    border: #fff 2px;
}
.signin-btn:hover{
    background-color: #c11119;
}
@media screen and (max-width: 991px) {
    .container1 {
        padding: 15px 5%;
    }

    .logo {
        width: 6rem;
        height: 1.6rem;
    }

    .lang-btn {
        margin-right: 3px;
    }
    
}

.content1 {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 5%;
    letter-spacing: normal;
}
.content1 h1{
    font-weight: 800;
    font-size: 48px;
}

.email-signup input {
    height: 55px;
    width: 400px;
    background: #151414b9;
    margin-right: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
}
.email-signup input:focus {
    outline: 2px solid #fff;
}
.email-signup button {
    background: #db0001;
    color: #fff;
    border-radius: 4px;
    height: 55px;
    width: 200px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
    cursor: pointer;
}

.prop {
    padding: 50px 12%;
    border-top: 8px solid #696969;
}

.img-col {
    width: 50%;
}
.img-tv {
    height: 400px;
    width: 100%;
    object-fit: contain;
}

.txt-col {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.txt-col h2 {
    font-size: 3rem;
    font-weight: 900;
}
.txt-col p {
    font-size: 1.5rem;
    font-weight: 400;
}

.freq{
    padding: 50px 12%;
    border-top: 8px solid #696969;
    text-align:center;
}

.accordion {
    margin:20px 0;
}

.accordion-item {
    background-color: #000;
    border:none;
    margin-bottom: 10px;
}

.accordion-button {
    background-color: #2d2d2d;
    color: #fff;
    height: 80px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
    border: 0;
}

.accordion-button:hover {
    background-color: #464646;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #464646;
}

.accordion-body {
    background-color: #2d2d2d;
    color: #fff;
}
.container6{
    padding-bottom: 100px;
}

.footer {
    border-top: 8px solid #696969;
    color: #ffffffb3;

        padding: 50px 12%;
        border-top: 8px solid #696969;
        text-align: center;
}
.links ul {
    list-style: none;
    padding-left: 0;
    width: 80%;
}

.frow {
    display: flex;
    text-decoration: underline;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 20px 0;
}

ul li {
    margin-top: 10px;
    width: fit-content;
    cursor: pointer;
    text-align: left;
}
.enq{
    text-align: start;
}

.footer-text {
    font-size: 0.875rem;
    text-align: start;
}

.lang1-btn{
    background: transparent;
    color: #f9f1f1;
    border-radius: 4px;
    height: 35px;
    width: 90px;
    padding: 0 10px;
    font-size: 15px;
    margin-right: 20px;
    border: 1px solid #808080;
    cursor: default;
    display: flex;
    align-items:center
}
.ac{
    color: #ffffffb0;
}


@media screen and (max-width: 768px) {
    .email-signup input {
        width: 275px;
        margin-left: 3px;
    }
}

@media screen and (max-width: 698px) {
    #faq-signup-btn {
        margin-top: 15px;
    }
}

@media screen and (max-width: 663px) {
    #lang-txt {
        display: none;
    }

    .email-signup button {
        margin-top: 15px;
    }

    .img-col {
        width: 80%;
        margin: 0 auto;
    }

    .img-tv {
        height: 250px;
    }
}

@media screen and (max-width: 375px) {
    .content1 h1 {
        font-weight: 600;
        font-size: 20px;
        padding-top: 10px;
    }
    .content1 h3{
        font-size: 10px;
    }
   .email-end{
        width: 200px;
      }

}

@media screen and (max-width: 991px) {
    .txt-col {
        text-align: center;
    }
    
    .img-col {
        width: 100%;
    }
    
    .prop-row2{
        display: flex;
        flex-direction: column-reverse;
    }
    .des{
        font-size: 1.125rem;
    }
    .container1{
        height: 80vh;
    }
    .content1 h1{
        font-weight: 600;
        font-size: 36px;
    }

    }

@media screen and (max-width: 340px) {
        .content1 h1 {
            font-weight: 600;
            font-size: 30px;
            margin-top: 40px;
        }
            
    
    
    }
    @media screen and (max-width: 281px) {
        .email-end{
            width: 100px;
          }
        }

.hov:hover{
    background-color: #c11119;
}
#faq-signup-btn:hover{
    background-color: #c11119;
}
                